<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pe.edu.pucp.ferretin.model.Properties.Settings.inf245g2ConnectionString"
            connectionString="Data Source=inti.lab.inf.pucp.edu.pe;Initial Catalog=inf245g2;Persist Security Info=True;User ID=inf245g2dba;Password=interior"
            providerName="System.Data.SqlClient" />
        <add name="pe.edu.pucp.ferretin.model.Properties.Settings.inf245g2ConnectionString1"
            connectionString="Data Source=inti.lab.inf.pucp.edu.pe;Initial Catalog=inf245g2;Persist Security Info=True;User ID=inf245g2usr;Password=server"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>