<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pe.edu.pucp.ferretin.controller.Properties.Settings.ConnectionString"
            connectionString="Data Source=inti.lab.inf.pucp.edu.pe;User ID=inf245g2dba;Password=interior"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>